table {
    width: 100%;
}

.monthlyreturn {
    margin-top: 12px;
    padding-bottom: 19px;
}

.monthlyreturn div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.monthlyreturn div h3 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: -0.05em;
    text-align: left;
}
.monthlyreturn table{
    height: 150px;
}
th {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    letter-spacing: -0.05em;
    text-align: left;
    text-align: center;
}

td {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    letter-spacing: -0.05em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(239, 239, 239, 0.599);
}

.negative {
    color: rgb(239, 132, 150);
}

.main {
    margin: 110px;
}

.bold-data {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    letter-spacing: -0.05em;
    text-align: center;
}