*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: "Open Sans", system-ui;
  font-weight: 200 !important;
}
body::-webkit-scrollbar{
  width: 0;
}
#root{
  padding: 25px 15px;
}