* {
  margin: 0;
  padding: 0;
}

.button-element {
  width: 122px;
  height: 35px;
  top: 721px;
  left: 111px;
  gap: 0px;
  border-radius: 57px;
  border: 0;
  opacity: 0px;
  background-color: #E8E8E8 !important;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  letter-spacing: -0.05em;
  text-align: center;
}